In [17]:
print("Hello,World")

Hello,World

Data types. 
This is a markdown cell... will not run code

In [18]:
# string is either double quotes or single quotes
test=('hello')

test is now a variable... a labelled container. Data stored... can re-use without typing out individually again

In [19]:
type(test)

str

In [20]:
print(test)

hello

In [21]:
#Numeric types come in two forms

#Integers
number=10

#float
floaty=5.4

In [22]:
number + floaty

15.4

In [23]:
test+number

TypeError: can only concatenate str (not "int") to str

In [ ]:
test+test

'hellohello'

Can use either single or double quotes... be consistent in which you use

Operators

In [ ]:
100-40
10/2
5*5
90+30

120

In [ ]:
7**7

823543

In [ ]:
15//4

3

In [ ]:
15 % 2

1

In [ ]:
"foo"+"bar"

'foobar'

In [ ]:
"foo"-"bar"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
"foo"*10

'foofoofoofoofoofoofoofoofoofoo'

In [27]:
#lists
my_list= [1,2,3.2,5000]

In [28]:
print(my_list)

[1, 2, 3.2, 5000]

In [30]:
print(my_list[0])

1

In [31]:
print(my_list[1:])

[2, 3.2, 5000]

In [33]:
#Dictionaries
#Not order
#Has a key and a value associated with it
#Can't retrieve data by number like with list
#Can only retrieve with the key associated with a value

my_dict={"one": 1, "two":2, "three":3}

In [34]:
print(my_dict)

{'one': 1, 'two': 2, 'three': 3}

In [35]:
print(my_dict[0])

KeyError: 0

In [36]:
print(my_dict["one"])

1